@using System.Globalization

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
         body {
          background-color: #92ba92;
          box-sizing: border-box;
        }
        .category-title {
          color: #444;
          padding: 10px;
          width: 100%;
          font-size: 26px;
          background-color:#f1ddbf;
          color:#525e75;
          text-align: center;
        }

        .menu-card .card-header{
          background-color: #525e75;
        }

        .overflow {
          position: relative;
          height: 100%;
          max-height: 150px;
          overflow-y: scroll;
          overflow: auto ;
        }

    </style>
</head>
<body>

@model IEnumerable<MenuItem>

@{
    ViewData["Title"] = "List of MenuItems";
}

<div class="row">
    @foreach (var category in Model.Select(x => x.MenuCategory).Distinct())
    {
        <div class="category-title"><span>@category.Name</span> </div>
       @* <div class="panel">*@
       
            @foreach (var item in Model.Where(x => category.Id == x.CategoryId))
            {
               <div class="col-md-4 col-xs-6 border-primary">
                <div class="menu-card card m-4" style="max-width: 500px;">
                    <div class="row g-0">
                        <div class="col-md-12">
                            <div class="card-header text-white d-flex flex-row">
                                <p class="card-text">
                                    <h5 class="card-title">
                                        @item.MenuName
                                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                                        {     
                                                <a class="text-white float-right" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                                <a class="text-white float-left" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i></a>
                                        }
                                    </h5>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="@item.ImageUrl" width="100%" alt="@item.MenuName">
                            </div>
                            <div class="col-md-6 ">
                                <div class="card-body overflow">
                                    <p class="card-text"><b>Description: </b>@item.Description </p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer ">
                                    <p class="card-text">
                                        <a class="btn btn-outline-primary float-right" asp-action="Details" asp-route-id="@item.Id">
                                        <i class="bi bi-eye-fill"></i> Show Details
                                        </a>
                                           
                                        <a class="btn btn-success text-white " 
                                        asp-controller="Orders" 
                                        asp-action="AddItemToShoppingCart" 
                                        asp-route-id="@item.Id">
                                        <i class="bi bi-cart-plus"></i> Add to Cart (Price @item.Price.ToString("c", new CultureInfo("en-IE")))</a>
                                
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
              </div>
                             
            }
        }
 </div>
    

@await Html.PartialAsync("_CreateItem", "MenuItem") 

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>
</body>
</html>